# {{ ansible_managed }}

godbc-datasource={{ powerdns_backend_generic_odbc_datasource }}
godbc-username={{ powerdns_backend_generic_odbc_username }}
godbc-password={{ powerdns_backend_generic_odbc_password }}
